---

services:
  bot:
    build: .
    container_name: meshtastic-bot
    restart: unless-stopped
    ports:
      - "4403:4403"
    environment:
      - MESHTASTIC_IP=${MESHTASTIC_NODE_IP}

  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: --interval 3600 meshtastic-bot  # Check for updates every hour
